body {
  flex-wrap: wrap;
  background: rgb(158, 107, 1);
  color: white;
  font: Helvetica Neue, Helvetica Arial;
  margin: 0;
  padding: 0;
}
header {
  background: black;
  color: white;
  padding: 20px;
}
section {
  background: rgb(99, 94, 94);
  color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.hero {
  border-radius: 50%;
  margin: auto;
  width: 25%;
}

p {
  letter-spacing: 0.5px;
  text-align: center;
  margin: 10px 50px 10px 50px;
}

h1 {
  background: none;
  margin: 20px;
  text-align: center;
}

ul {
  margin: 20px;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
li {
  display: inline-block;
  margin: 20px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  background: black;
  border: round;
  color: white;
  padding: 10px 20px;
}

button {
  background-color: black;
}
